.main {
    background-color: #004047;
    align-items: center;
}

.heading {
    font-family: "Livvic";
    font-size: 48px;
    font-weight: 700;
    line-height: 48px; 
    color: #ffff; 
    margin: 0;
    margin-bottom: 64px;
}

.directors {
    align-items: center;
    list-style-type: none;
    display: flex;
    
    &__item {
        position: relative;
        display:block;
        max-width: 350px;
        text-align: center;
        background-color:#002529;
        margin: 15px;
        padding: 35px 0 56px;
        
        
        .last {
            position: relative;
            padding-bottom: 63px;
            
            &__heading {
                font-family: 'Livvic';
                font-size: 18px;
                font-weight: 700;
                line-height: 28px;
               color: #79C8C7; 
            }
            
            &__text {
                font-family: 'Livvic';
                font-size: 15px;
                font-weight: 600;
                line-height: 25px;
                padding-left: 48px;
                padding-right: 48px;
                margin: 0;
                margin-top: 8px;
                margin-bottom: 24px;
                
            }
            
            &__x {
                display: block;
                padding: 10px;
                border: 1px solid #79C8C7;
                border-radius: 50%;
                background-color:#79C8C7;
                width: 50px;
                height: 50px;
                text-align: center;
                font-family: 'Livvic';
                line-height: 18px;
                font-size: 29px;
                font-weight: 700;
                position: absolute;
                top: 237px;
                left: 150px;
            }
        }
        
    }
    
    
    &__img {
        margin-bottom: 13px;
    }
    
    
    &__heading {
        margin: 0;
        color: #79C8C7;
        font-family: 'Livvic';
        font-size: 18px;
        font-weight: 700;
        line-height: 28px;  
    }
    
    
    
    &__num {
        display: block;
        padding: 10px;
        border: 1px solid #F67E7E;
        border-radius: 50%;
        background-color: #F67E7E;
        width: 50px;
        height: 50px;
        text-align: center;
        font-family: 'Livvic';
        line-height: 22px;
        font-size: 29px;
        font-weight: 700;
        position: absolute;
        top: 237px;
        left: 150px;
        
    }
    
    
    
    
}

@media only screen and (max-width:768px) {
    .heading {
        font-family: 'Livvic';
        font-size: 32px;
        line-height: 32px;
    }
    
    .directors {
        &__item {
            max-width: 281px;
            margin-bottom: 76px;
            
        }
        .last {
            padding: 35px 24px 63px 24px;
            
            &__text {
                font-family: 'Livvic';
                font-size: 15px;
                font-weight: 600;
                line-height: 25px;
                text-align: center;
                margin: 0;
                padding: 0;
                margin-top: 8px;
                margin-bottom: 24px;
                
            }

            &__x {
                top: 230px;
                left: 121px;
            }
            
        }
        
        &__num {
            left: 121px;
        }


    }
}